div.col, div.col-6 {
    padding: 2rem;
}

div.main-image-container {
    background: #eee;
    border: #ddd solid 2px;
}

div.image-preview-container {
    width: 20%;
    display: inline-block;
    padding: .2rem .2rem;
}

div.main-image-container img, div.image-preview-container img {
    width: 100%;
}

div.image-preview-container img {
    background: #eee;
    border: #ddd solid 2px;
    cursor: pointer;
}

h5.price {
    width: 100%;
    display: inline-block;
}

h5.price::first-letter {
    padding-right: 0.3em;
}

p.description {
    padding-top: 1rem;
}